
.container: {
    display: "flex";
    flexDirection: "column";
    justifyContent: "center";
    alignItems: "center";
    paddingTop: 50;
  },
.preview {
    marginTop: 50;
    display: "flex";
    flexDirection: "column";
  },
.image: {
    maxWidth: "100%";
    maxHeight: 320;
  },
.delete: {
    cursor: "pointer";
    padding: 15;
    background: "red";
    color: "white";
    border: "none";
  }
